<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/leagueicon.jpg">
        <title>Home Page</title>
    </head>
     <body>
         <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="error-message"></p>
            <p id="weather-message"></p>
            <p id="summary-message"></p>
         </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>